In [1]:
import pandas as pd

In [7]:
# Reading in csv files for each type of food and naming columns
hotdogs_df = pd.read_csv('data\Postgres\hotdogs.csv')
hotdogs_df.rename(columns = {'count':'hotdog_count'}, inplace = True)

pizza_df = pd.read_csv('data\Postgres\pizza.csv')
pizza_df.rename(columns = {'count':'pizza_count'}, inplace = True)

delis_df = pd.read_csv('data\Postgres\delis.csv')
delis_df.rename(columns = {'count':'deli_count'}, inplace = True)

mex_df = pd.read_csv('data\Postgres\mex.csv')
mex_df.rename(columns = {'count':'mex_count'}, inplace = True)

burgers_df = pd.read_csv('data\Postgres\\burgers.csv')
burgers_df.rename(columns = {'count':'burger_count'}, inplace = True)

In [8]:
# Joining the 5 csv files with the counts of the most popular types of food by zip code
top_types_df =pd.concat([burgers_df, hotdogs_df, mex_df, pizza_df, delis_df])

In [9]:
# Replacing NaNs with zeros to avoid errors later on
top_types_df.fillna('0', inplace=True)

In [5]:
# Verifying that everything looks correct
top_types_df

,zip_code,burger_count,median,hotdog_count,mex_count,pizza_count,deli_count
0,60089,2.0,102256,0,0,0,0
1,90305,1.0,34421,0,0,0,0
2,60402,1.0,52331,0,0,0,0
3,90304,2.0,36108,0,0,0,0
4,90755,1.0,36506,0,0,0,0
...,...,...,...,...,...,...,...
633,11417,0,58417,0,0,0,1.0
634,37115,0,28638,0,0,0,1.0
635,90404,0,94342,0,0,0,1.0
636,92116,0,37570,0,0,0,2.0
637,60148,0,58725,0,0,0,2.0

In [11]:
# Saving file to csv
top_types_df.to_csv('data/five_types.csv', columns = ["zip_code","burger_count", "median", "hotdog_count", 'mex_count', 'pizza_count', 'deli_count'], header = True, index= False)