In [2]:
import pandas as pd
import glob
import os
import re

In [20]:
# Setting the path for joining all the files holding the results of the Yelp API scrape
files = os.path.join("C:\\Users\\menon\\msu\\Data_Analytics_Class\\Final Project\\FastFoodFinal\\Data_Extraction_&_Cleaning\\data\\Yelp_Results\\Zips_by_State", "State_*.csv")

# Joining all 8 files together and saving the result to a single variable
files = glob.glob(files)

print("Compilation of All Results from Yelp API");

# Creating a DataFrame out of the joined files
Yelp_API_results = pd.concat(map(pd.read_csv, files), ignore_index=True)
print(Yelp_API_results)

Compilation of All Results from Yelp API
                                          Name        Type  \
0                             ('Bangin Buns',)     hotdogs
1      ('The Buffalo Spot - Huntington Park',)     hotdogs
2                         ('In-N-Out Burger',)     burgers
3                                 ("Rally's",)     burgers
4               ('Johns Drive-In Hamburgers',)     burgers
...                                        ...         ...
27453                           ("Paisano's",)       pizza
27454                              ('Subway',)  sandwiches
27455               ('Doña Cecy’s Pupuseria',)       latin
27456                      ("Domino's Pizza",)       pizza
27457                              ('Subway',)  sandwiches

                                     Address    Zip Code
0                   ('1457 E Florence Ave',)  ('90001',)
1                     ('5918 Pacific Blvd',)  ('90255',)
2                     ('6000 Pacific Blvd',)  ('90255',)
3           ('7207 South Avalon Boulevard',)  ('90003',)
4                   ('6625 E Santa Fe Ave',)  ('90255',)
...                                      ...         ...
27453                ('6937A Telegraph Rd',)  ('22310',)
27454               ('6711 Spring Mall Dr',)  ('22150',)
27455                 ('6961 Hechinger Dr',)  ('22151',)
27456                  ('6715 Backlick Rd',)  ('22150',)
27457  ('6308 Springfield Plz Store No 13',)  ('22150',)

[27458 rows x 4 columns]

In [21]:
Yelp_API_results.head(5)

,Name,Type,Address,Zip Code
0,"('Bangin Buns',)",hotdogs,"('1457 E Florence Ave',)","('90001',)"
1,"('The Buffalo Spot - Huntington Park',)",hotdogs,"('5918 Pacific Blvd',)","('90255',)"
2,"('In-N-Out Burger',)",burgers,"('6000 Pacific Blvd',)","('90255',)"
3,"(""Rally's"",)",burgers,"('7207 South Avalon Boulevard',)","('90003',)"
4,"('Johns Drive-In Hamburgers',)",burgers,"('6625 E Santa Fe Ave',)","('90255',)"

In [22]:
# Casting the Zip Code column to a string to prepare it for regex formatting
Yelp_API_results= Yelp_API_results.astype({'Zip Code': 'string', "Address": "string"})

In [11]:
# Verifying data types
Yelp_API_results.dtypes

Name        object
Type        object
Address     string
Zip Code    string
dtype: object

In [25]:
# Using regex to clean up the DataFrame by removing unnecessary formatting

# Removing parentheses + single inner quotation marks
Yelp_API_results['Zip Code'] = Yelp_API_results['Zip Code'].str.replace(r'\D', '')
Yelp_API_results['Address']=Yelp_API_results['Address'].str.replace("('", '',regex=False).str.replace("',)", '',regex=False)
Yelp_API_results['Name']=Yelp_API_results['Name'].str.replace("('", '',regex=False).str.replace("',)", '',regex=False)

# Removing parentheses + double inner quotation marks
Yelp_API_results['Address']=Yelp_API_results['Address'].str.replace('("', '',regex=False).str.replace('",)', '',regex=False)
Yelp_API_results['Name']=Yelp_API_results['Name'].str.replace('("', '',regex=False).str.replace('",)', '',regex=False)

# Removing parentheses + double outer quotation marks
Yelp_API_results['Address']=Yelp_API_results['Address'].str.replace('"(', '',regex=False).str.replace(',)"', '',regex=False)

C:\Users\menon\AppData\Local\Temp/ipykernel_2312/2993536.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  Yelp_API_results['Zip Code'] = Yelp_API_results['Zip Code'].str.replace(r'\D', '')

In [27]:
# Clean DataFrame check
Yelp_API_results

,Name,Type,Address,Zip Code
0,Bangin Buns,hotdogs,1457 E Florence Ave,90001
1,The Buffalo Spot - Huntington Park,hotdogs,5918 Pacific Blvd,90255
2,In-N-Out Burger,burgers,6000 Pacific Blvd,90255
3,Rally's,burgers,7207 South Avalon Boulevard,90003
4,Johns Drive-In Hamburgers,burgers,6625 E Santa Fe Ave,90255
...,...,...,...,...
27453,Paisano's,pizza,6937A Telegraph Rd,22310
27454,Subway,sandwiches,6711 Spring Mall Dr,22150
27455,Doña Cecy’s Pupuseria,latin,6961 Hechinger Dr,22151
27456,Domino's Pizza,pizza,6715 Backlick Rd,22150
27457,Subway,sandwiches,6308 Springfield Plz Store No 13,22150

In [28]:
# Dropping any duplicates that Yelp returned 
Yelp_API_results.drop_duplicates(inplace=True)
Yelp_API_results

,Name,Type,Address,Zip Code
0,Bangin Buns,hotdogs,1457 E Florence Ave,90001
1,The Buffalo Spot - Huntington Park,hotdogs,5918 Pacific Blvd,90255
2,In-N-Out Burger,burgers,6000 Pacific Blvd,90255
3,Rally's,burgers,7207 South Avalon Boulevard,90003
4,Johns Drive-In Hamburgers,burgers,6625 E Santa Fe Ave,90255
...,...,...,...,...
25208,Subway,sandwiches,1235B Clear Lake City Blvd,77062
25209,Savannah Cafe & Bakery,sandwiches,14020 Galveston Rd,77598
25210,Subway,sandwiches,3141 FM 528,77546
25211,La Brisa Mexican Grill,mexican,501 N Wesley Dr,77573
25212,Pizza Hut,pizza,2402 Bay Area Blvd,77058

In [ ]:
Yelp_API_results.to_csv('data/Yelp_Results/All_Yelp_Results_Reduced.csv', columns = ["Name","Type", "Address", "Zip Code"], header = True, index= False)

In [ ]:
Yelp_API_results_sorted=df.sort_values(by='Address')

In [ ]:
Yelp_API_results_sorted.to_csv('data/Yelp_Results/All_Yelp_Results_Sorted.csv', columns = ["Name","Type", "Address", "Zip Code"], header = True, index= False)