In [5]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

,State_ab,City,Zip_Code,Lat,Lon,Mean,Median,Stdev,sum_w
0,AL,Chickasaw,36611,30.771450,-88.079697,38773,30506,33101,1638.260513
1,AL,Louisville,36048,31.708516,-85.611039,37725,19528,43789,258.017685
2,AL,Columbiana,35051,33.191452,-86.615618,54606,31930,57348,926.031000
3,AL,Satsuma,36572,30.874343,-88.009442,63919,52814,47707,378.114619
4,AL,Dauphin Island,36528,30.250913,-88.171268,77948,67225,54270,282.320328

In [16]:
df=pd.read_csv('cleaned_HH_income.csv')
df.head()

,Unnamed: 0,State_ab,City,Zip_Code,Lat,Lon,Mean,Median,Stdev,sum_w
0,0,AL,Chickasaw,36611,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1,AL,Louisville,36048,31.708516,-85.611039,37725,19528,43789,258.017685
2,2,AL,Columbiana,35051,33.191452,-86.615618,54606,31930,57348,926.031000
3,3,AL,Satsuma,36572,30.874343,-88.009442,63919,52814,47707,378.114619
4,4,AL,Dauphin Island,36528,30.250913,-88.171268,77948,67225,54270,282.320328

In [14]:
df2=pd.read_csv('Fast_Food_Restaurants_US.csv')
df2.head()

,Unnamed: 0,address,categories,city,country,latitude,longitude,name,postalCode,province,websites
0,0,800 N Canal Blvd,American Restaurant and Fast Food Restaurant,Thibodaux,US,29.814697,-90.814742,SONIC Drive In,70301,LA,https://locations.sonicdrivein.com/la/thibodau...
1,1,800 N Canal Blvd,Fast Food Restaurants,Thibodaux,US,29.814697,-90.814742,SONIC Drive In,70301,LA,https://locations.sonicdrivein.com/la/thibodau...
2,2,206 Wears Valley Rd,Fast Food Restaurant,Pigeon Forge,US,35.803788,-83.580553,Taco Bell,37863,TN,"http://www.tacobell.com,https://locations.taco..."
3,3,3652 Parkway,Fast Food,Pigeon Forge,US,35.782339,-83.551408,Arby's,37863,TN,"http://www.arbys.com,https://locations.arbys.c..."
4,4,2118 Mt Zion Parkway,Fast Food Restaurant,Morrow,US,33.562738,-84.321143,Steak 'n Shake,30260,GA,http://www.steaknshake.com/locations/23851-ste...

In [15]:
model=LinearRegression()

ValueError: could not convert string to float: '68508-3807'